# IDE files
*.classpath
*.project
*.settings/
.idea/
*.iml
.DS_Store

# Essentials files
/Essentials/userdata
/Essentials/config.yml
/Essentials/kits.yml
/Essentials/userdata/testplayer1.yml
/Essentials/usermap.csv
Essentials/src/com/earth2me/essentials/commands/Commandunbanip.java
Essentials/src/com/earth2me/essentials/commands/Commandunban.java
Essentials/src/com/earth2me/essentials/commands/Commandtptoggle.java
Essentials/src/com/earth2me/essentials/commands/Commandtpohere.java
Essentials/src/com/earth2me/essentials/commands/Commandtpo.java
Essentials/src/com/earth2me/essentials/commands/Commandtphere.java
Essentials/src/com/earth2me/essentials/commands/Commandtpdeny.java
Essentials/src/com/earth2me/essentials/commands/Commandtpall.java
Essentials/src/com/earth2me/essentials/commands/Commandtpahere.java
Essentials/src/com/earth2me/essentials/commands/Commandtpaccept.java
Essentials/src/com/earth2me/essentials/commands/Commandmsg.java
Essentials/src/com/earth2me/essentials/commands/Commandkick.java
Essentials/src/com/earth2me/essentials/commands/Commandjump.java
Essentials/src/com/earth2me/essentials/commands/Commanddelwarp.java
Essentials/src/com/earth2me/essentials/commands/Commandbanip.java
Essentials/src/com/earth2me/essentials/commands/Commandwarp.java
Essentials/src/com/earth2me/essentials/commands/Commandvanish.java
Essentials/src/com/earth2me/essentials/commands/Commandtpacancel.java
Essentials/src/com/earth2me/essentials/commands/Commandtpaall.java
Essentials/src/com/earth2me/essentials/commands/Commandtpa.java
Essentials/src/com/earth2me/essentials/commands/Commandtp.java
Essentials/src/com/earth2me/essentials/commands/Commandtempban.java
Essentials/src/com/earth2me/essentials/commands/Commandsetwarp.java
Essentials/src/com/earth2me/essentials/commands/Commandr.java
Essentials/src/com/earth2me/essentials/commands/Commandmute.java
Essentials/src/com/earth2me/essentials/commands/Commandmsgtoggle.java
Essentials/src/com/earth2me/essentials/commands/Commandban.java
Essentials/src/com/earth2me/essentials/commands/Commandback.java

# Build files
target/
jars/